@import "tailwindcss";

.hero {
  width: 812px;
  height: 750px;
  background: linear-gradient(
    180deg,
    rgb(236, 189, 226) 0%,
    rgb(255, 215, 253) 66%,
    rgb(253, 224, 252) 100%
  );
  clip-path: path(
    "M20,0H572A20,20 0,0,1 592,20V30A20,20 0,0,0 612,50H792A20,20 0,0,1 812,70V730A20,20 0,0,1 792,750H180A20,20 0,0,1 160,730V630A20,20 0,0,0 140,610H20A20,20 0,0,1 0,590V20A20,20 0,0,1 20,0Z"
  );
}

/* 📌 NOTEBOOK (1366px) */
@media (max-width: 1439px) {
  .hero {
    width: 680px;
    height: 750px;
    aspect-ratio: 68 / 75;
    clip-path: path(
      "M20,0H460A20,20 0,0,1 480,20V20A20,20 0,0,0 500,40H660A20,20 0,0,1 680,60V730A20,20 0,0,1 660,750H200A20,20 0,0,1 180,730V630A20,20 0,0,0 160,610H20A20,20 0,0,1 0,590V20A20,20 0,0,1 20,0Z"
    );
  }
}

/* 📌 TABLET (992px → 768px) */
@media (max-width: 1024px) {
  .hero {
    clip-path: path(
      "M20,0H560A20,20 0,0,1 580,20V20A20,20 0,0,0 600,40H760A20,20 0,0,1 780,60V730A20,20 0,0,1 760,750H200A20,20 0,0,1 180,730V630A20,20 0,0,0 160,610H20A20,20 0,0,1 0,590V20A20,20 0,0,1 20,0Z"
    );
    width: 780px;
    height: 750px;
    aspect-ratio: 26 / 25;
  }
}

/* 📌 MOBILE */
@media (max-width: 640px) {
  .hero {
    clip-path: path(
      "M15,0H223A15,15 0,0,1 238,15V25A15,15 0,0,0 253,40H403A15,15 0,0,1 418,55V403A15,15 0,0,1 403,418H115A15,15 0,0,1 100,403V343A15,15 0,0,0 85,328H15A15,15 0,0,1 0,313V15A15,15 0,0,1 15,0Z"
    );
    width: 418px;
    height: 418px;
    aspect-ratio: 1 / 1;
  }
}
